{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Change Password</h2>
                <form method="POST" novalidate="novalidate">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary" style="background-color:#466278;">Done</button>

                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}