{% extends 'base.html'%}

{% block content %}

{% include 'blog/alert.html' %}





<div class="jumbotron p-4 p-md-5 text-black  bg-light">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <ul class="nav mb-2">
                <li class="nav-item mt-1">
                    <img src="/static/avatar2.png" alt="Avatar" class="rounded-circle account-image float-left" style="width:40px;height:40px;">

                </li>
                <li class="nav-item">
                    <span class=" mb-1 text-secondary ml-2 ">{{latest.author|capfirst}}</span>
                    <div class="mb-1 text-secondary ml-2 ">{{latest.created}}</div>
                </li>

            </ul>

            <a href="{% url 'post_detail' latest.id latest.slug %}" class="">
                <p class="mb-0 text-justify">{{latest.title}}</p>
            </a>

            <p class="card-text mb-auto text-justify mt-2">{{latest.featured}}...
                <a href="{% url 'post_detail' latest.id latest.slug %}" class="stretched-link  mb-2">Show more</a>
            </p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="{{latest.image.url}}" width="200px" height="305px" alt="Oops ">
        </div>
    </div>
</div>

<div class="row mb-2">
    {% for post in posts %}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <ul class="nav mb-2">
                    <li class="nav-item mt-1">
                        <img src="/static/avatar2.png" alt="Avatar" class="rounded-circle account-image float-left"
                            style="width:40px;height:40px;">

                    </li>
                    <li class="nav-item">
                        <span class=" mb-1 text-secondary ml-2 ">{{post.author|capfirst}}</span>
                        <div class="mb-1 text-secondary ml-2 ">{{post.created}}</div>
                    </li>

                </ul>

                <a href="{% url 'post_detail' post.id post.slug %}" class="stretched-link mb-2">
                    <p class="mb-0 text-justify  ">{{post.title}}</p>
                </a>

                <p class="card-text mb-auto text-justify"></p>
                <a href="{% url 'post_detail' post.id post.slug %}" class="stretched-link mb-2">Continue reading</a>



            </div>

            <div class="col-auto d-none d-lg-block">
                <img src="{{post.image.url}}" width="200px" height="250px" alt="Oops">
            </div>

        </div>

    </div>
    {% empty %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">

                <h3 class="alert alert-danger text-center" role="alert">
                    No post found for "{{request.GET.q}}"
                </h3>

            </div>
        </div>
    </div>
    {% endfor %}

</div>
<div class="container-fluid mb-5">
    <div class="row  ">
        
            <div class="pagination ">
                <span class="step-links ">
                    {% if posts.has_previous %}
                    <a href="?page=1" class="btn btn-outline-primary mt-1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-secondary mt-1">previous</a>
                    {% endif %}

                    <span class="current  text-muted">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-primary mt-1">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-secondary mt-1">last
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        
    </div>

</div>

{% endblock %}